<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Details</h2>
      <br>
        <br> ID: <%=  courses._id %>
        <br> courseName: <%=courses.courseName%>
        <br> Professor: <%=courses.professor%>
        <br> Location: <%=courses.location%>
        <br> Section: <%=courses.section%>
        <br> Time: <%=courses.time %>
        <br> Capacity: <%=courses.capacity %>
      <hr>

      <form method="get" action="/course">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>